.App {
  font-family: sans-serif;
  text-align: center;
}
.cont {
  display: grid;
  grid-template-rows: 40px 15vw 70vw 15vw 1fr;
  grid-template-columns: 1fr 70vw 1fr;
  height: 100vh;
  width: 100vw;
}
.bg-ext_img1 {
  background-image: url("https://dev.nahab.info/aerovadim/_outerimages/resp1/bottle2.png");
}

@media (min-width: 1024px) {
  .cont {
    grid-template-rows: 40px 15vh 1fr 15vh;
    grid-template-columns: 15vh calc(70vh - 40px) 1fr 15vh;
    height: 100vh;
    width: 100vw;
  }
}
